################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/VB2_AI/.vs/VB2_AI/v16
